.headerWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #fff;
    box-shadow: 0px -33px 40px #000000;
    .searchBlock{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .headerFilter{
            width: fit-content;
            display: flex;
            align-items: center;
            padding-right: 34px;
            border-right: 1px solid #EBEBEB;
            margin-right: 22px;
            cursor: pointer;
            h1{
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 30px;
                text-align: left;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #8D8D8D;
                margin-right: 8px;
            }
            svg {
                width: 16px;
                height: 16px;
                fill: #8D8D8D;
            }
        }
        .searchInput{
            display: flex;
            align-items: center;
            width: 78%;
            background: #F5F5F5;
            padding: 10px 16px;
            border-radius: 22px;
            input{
                background: transparent;
                border: none;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                width: 100%;
                outline: none;
                &::placeholder{
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    color: #8D8D8D;
                }
            }
            svg {
                width: 16px;
                height: 16px;
                fill: #8D8D8D;
                margin-right: 10px;
            }
        }
    }
    .addTaskBlock{
        display: flex;
        align-items: center;
        .addButton{
            display: flex;
            align-items: center;
            padding-right: 34px;
            border-right: 1px solid #EBEBEB;
            cursor: pointer;
            h1{
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 30px;
                text-align: left;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #FF4669;
                margin-left: 4px;
            }
        }
        .profileIcon{
            margin-left: 56px;
            img{
                height: 28px;
                width: 28px;  
            }
            
        }
    }
}


  